USE [csdl]
GO
ALTER TABLE [dbo].[THUCDON] DROP CONSTRAINT [FK__THUCDON__TINHTRA__403A8C7D]
GO
ALTER TABLE [dbo].[THUCDON] DROP CONSTRAINT [FK__THUCDON__LOAITD__3F466844]
GO
ALTER TABLE [dbo].[PHONG] DROP CONSTRAINT [FK__PHONG__TINHTRANG__38996AB5]
GO
ALTER TABLE [dbo].[PHONG] DROP CONSTRAINT [FK__PHONG__LOAIPHONG__37A5467C]
GO
ALTER TABLE [dbo].[NHANVIEN] DROP CONSTRAINT [FK__NHANVIEN__TINHTR__286302EC]
GO
ALTER TABLE [dbo].[NHANVIEN] DROP CONSTRAINT [FK__NHANVIEN__LOAINV__276EDEB3]
GO
ALTER TABLE [dbo].[NGUOIDUNG] DROP CONSTRAINT [FK__NGUOIDUNG__TINHT__30F848ED]
GO
ALTER TABLE [dbo].[NGUOIDUNG] DROP CONSTRAINT [FK__NGUOIDUNG__MANV__2F10007B]
GO
ALTER TABLE [dbo].[NGUOIDUNG] DROP CONSTRAINT [FK__NGUOIDUNG__LOAIN__300424B4]
GO
ALTER TABLE [dbo].[LICHSUKH] DROP CONSTRAINT [FK__LICHSUKH__MAKH__52593CB8]
GO
ALTER TABLE [dbo].[LICHSUKH] DROP CONSTRAINT [FK__LICHSUKH__MAHD__534D60F1]
GO
ALTER TABLE [dbo].[KHACHANG] DROP CONSTRAINT [FK__KHACHANG__TINHTR__47DBAE45]
GO
ALTER TABLE [dbo].[KHACHANG] DROP CONSTRAINT [FK__KHACHANG__LOAIKH__46E78A0C]
GO
ALTER TABLE [dbo].[HOADON] DROP CONSTRAINT [FK__HOADON__MAPHONG__4CA06362]
GO
ALTER TABLE [dbo].[HOADON] DROP CONSTRAINT [FK__HOADON__MANV__4D94879B]
GO
ALTER TABLE [dbo].[HOADON] DROP CONSTRAINT [FK__HOADON__MAKH__4E88ABD4]
GO
ALTER TABLE [dbo].[CTHD] DROP CONSTRAINT [FK__CTHD__MATD__5629CD9C]
GO
ALTER TABLE [dbo].[CTHD] DROP CONSTRAINT [FK__CTHD__MAHD__5535A963]
GO
/****** Object:  Table [dbo].[TINHTRANGTHUCDON]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[TINHTRANGTHUCDON]
GO
/****** Object:  Table [dbo].[TINHTRANGPHONG]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[TINHTRANGPHONG]
GO
/****** Object:  Table [dbo].[TINHTRANGNV]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[TINHTRANGNV]
GO
/****** Object:  Table [dbo].[TINHTRANGND]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[TINHTRANGND]
GO
/****** Object:  Table [dbo].[TINHTRANGKH]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[TINHTRANGKH]
GO
/****** Object:  Table [dbo].[TINHTRANGHD]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[TINHTRANGHD]
GO
/****** Object:  Table [dbo].[THUCDON]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[THUCDON]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[PHONG]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[NHANVIEN]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[NGUOIDUNG]
GO
/****** Object:  Table [dbo].[LOAITD]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[LOAITD]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[LOAIPHONG]
GO
/****** Object:  Table [dbo].[LOAINV]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[LOAINV]
GO
/****** Object:  Table [dbo].[LOAIND]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[LOAIND]
GO
/****** Object:  Table [dbo].[LOAIKH]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[LOAIKH]
GO
/****** Object:  Table [dbo].[LICHSUKH]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[LICHSUKH]
GO
/****** Object:  Table [dbo].[KHACHANG]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[KHACHANG]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[HOADON]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 17/11/2018 16:37:08 ******/
DROP TABLE [dbo].[CTHD]
GO
/****** Object:  Rule [TINHTRANGVALOAI]    Script Date: 17/11/2018 16:37:08 ******/
DROP RULE [dbo].[TINHTRANGVALOAI]
GO
/****** Object:  Rule [TINHTRANGVALOAI]    Script Date: 17/11/2018 16:37:08 ******/
CREATE RULE [dbo].[TINHTRANGVALOAI] 
AS
@T>=1 AND @T<=5
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTHD](
	[MAHD] [char](10) NULL,
	[MATD] [char](10) NULL,
	[TENTHUCDON] [nvarchar](100) NULL,
	[SOLUONG] [int] NULL,
	[GIA] [money] NULL,
	[THANHTIEN] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](10) NOT NULL,
	[MAPHONG] [char](10) NULL,
	[MANV] [char](10) NULL,
	[NGUOILAPHD] [nvarchar](100) NULL,
	[MAKH] [char](10) NULL,
	[HOTENKH] [nvarchar](100) NULL,
	[THOIGIANBATDAU] [datetime] NULL,
	[THOIGIANKETTHUC] [datetime] NULL,
	[TONGTHANHTOAN] [money] NULL,
	[TINHTRANG] [bit] NULL,
	[GIAPHONG] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHANG]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHANG](
	[MAKH] [char](10) NOT NULL,
	[LOAIKH] [int] NULL,
	[TENKH] [nvarchar](50) NULL,
	[SDT] [char](11) NULL,
	[TINHTRANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHSUKH]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHSUKH](
	[MALS] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [char](10) NULL,
	[MAHD] [char](10) NULL,
	[TONGTHANHTOAN] [money] NULL,
	[NGAYTHANHTOAN] [datetime] NULL,
	[TONGGIOTHUE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIKH]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKH](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIKH] [nvarchar](50) NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIND]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIND](
	[MALOAIND] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](10) NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAINV]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINV](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIPHONG] [nvarchar](50) NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITD]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITD](
	[MALOAITD] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAITD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MAND] [char](10) NULL,
	[MANV] [char](10) NULL,
	[LOAIND] [int] NULL,
	[TINHTRANG] [int] NULL,
	[TAIKHOAN] [char](100) NULL,
	[MATKHAU] [char](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[HONV] [nvarchar](50) NULL,
	[TENV] [nvarchar](50) NULL,
	[NAMSINH] [datetime] NULL,
	[LOAINV] [int] NULL,
	[SDTNV] [char](11) NULL,
	[EMAIL] [char](500) NULL,
	[DIACHI] [nvarchar](1000) NULL,
	[TINHTRANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [char](10) NOT NULL,
	[TENPHONG] [nvarchar](100) NULL,
	[LOAIPHONG] [int] NULL,
	[GIAPHONG] [money] NULL,
	[TINHTRANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUCDON]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUCDON](
	[MATD] [char](10) NOT NULL,
	[LOAITD] [int] NULL,
	[TENTHUCDON] [nvarchar](100) NULL,
	[GIA] [money] NULL,
	[TINHTRANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINHTRANGHD]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANGHD](
	[MATTHD] [int] IDENTITY(1,1) NOT NULL,
	[TENTINHTRANG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINHTRANGKH]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANGKH](
	[MATTKH] [int] IDENTITY(1,1) NOT NULL,
	[TENTT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATTKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINHTRANGND]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANGND](
	[MATT] [int] IDENTITY(1,1) NOT NULL,
	[TENTINHTRANG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINHTRANGNV]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANGNV](
	[MATT] [int] IDENTITY(1,1) NOT NULL,
	[TENTT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINHTRANGPHONG]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANGPHONG](
	[MATT] [int] IDENTITY(1,1) NOT NULL,
	[TENTINHTRANG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINHTRANGTHUCDON]    Script Date: 17/11/2018 16:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANGTHUCDON](
	[MATT] [int] NOT NULL,
	[TEN] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CTHD] ([MAHD], [MATD], [TENTHUCDON], [SOLUONG], [GIA], [THANHTIEN]) VALUES (N'HD01      ', N'TD01      ', N'Snack Oshi tôm cay', 52, 10000.0000, 290000.0000)
INSERT [dbo].[CTHD] ([MAHD], [MATD], [TENTHUCDON], [SOLUONG], [GIA], [THANHTIEN]) VALUES (N'HD01      ', N'TD05      ', N'Snack Oshi khoai tây', 1, 10000.0000, 10000.0000)
INSERT [dbo].[CTHD] ([MAHD], [MATD], [TENTHUCDON], [SOLUONG], [GIA], [THANHTIEN]) VALUES (N'HD01      ', N'TD01      ', N'Snack Oshi tôm cay', 52, 10000.0000, 290000.0000)
INSERT [dbo].[HOADON] ([MAHD], [MAPHONG], [MANV], [NGUOILAPHD], [MAKH], [HOTENKH], [THOIGIANBATDAU], [THOIGIANKETTHUC], [TONGTHANHTOAN], [TINHTRANG], [GIAPHONG]) VALUES (N'HD01      ', N'P01       ', N'NV01      ', N'1', N'KH01      ', N'01', CAST(N'2018-01-01 00:00:00.000' AS DateTime), CAST(N'2018-01-01 00:00:00.000' AS DateTime), 2230123.0000, 1, 50000.0000)
INSERT [dbo].[HOADON] ([MAHD], [MAPHONG], [MANV], [NGUOILAPHD], [MAKH], [HOTENKH], [THOIGIANBATDAU], [THOIGIANKETTHUC], [TONGTHANHTOAN], [TINHTRANG], [GIAPHONG]) VALUES (N'HD02      ', N'P01       ', N'NV01      ', N'Tiến', N'KH03      ', N'1', CAST(N'2018-02-01 11:12:00.000' AS DateTime), CAST(N'2018-01-01 11:12:00.000' AS DateTime), 50000.0000, 1, 50000.0000)
INSERT [dbo].[HOADON] ([MAHD], [MAPHONG], [MANV], [NGUOILAPHD], [MAKH], [HOTENKH], [THOIGIANBATDAU], [THOIGIANKETTHUC], [TONGTHANHTOAN], [TINHTRANG], [GIAPHONG]) VALUES (N'HD03      ', N'P01       ', N'NV01      ', N'Tiến', N'KH03      ', N'1', CAST(N'2018-01-01 11:12:00.000' AS DateTime), CAST(N'2018-01-01 11:12:00.000' AS DateTime), 50000.0000, 1, 50000.0000)
INSERT [dbo].[KHACHANG] ([MAKH], [LOAIKH], [TENKH], [SDT], [TINHTRANG]) VALUES (N'KH01      ', 1, N'1', N'0939432054 ', 2)
INSERT [dbo].[KHACHANG] ([MAKH], [LOAIKH], [TENKH], [SDT], [TINHTRANG]) VALUES (N'KH02      ', 1, N'Tiến', N'0939432055 ', 1)
INSERT [dbo].[KHACHANG] ([MAKH], [LOAIKH], [TENKH], [SDT], [TINHTRANG]) VALUES (N'KH03      ', 1, N'1', N'1          ', 1)
SET IDENTITY_INSERT [dbo].[LOAIKH] ON 

INSERT [dbo].[LOAIKH] ([MALOAI], [TENLOAIKH], [TINHTRANG]) VALUES (1, N'Khách thường', 1)
INSERT [dbo].[LOAIKH] ([MALOAI], [TENLOAIKH], [TINHTRANG]) VALUES (2, N'Khách Víp', 1)
SET IDENTITY_INSERT [dbo].[LOAIKH] OFF
SET IDENTITY_INSERT [dbo].[LOAIND] ON 

INSERT [dbo].[LOAIND] ([MALOAIND], [TENLOAI], [TINHTRANG]) VALUES (1, N'admin', 1)
INSERT [dbo].[LOAIND] ([MALOAIND], [TENLOAI], [TINHTRANG]) VALUES (2, N'lễ Tân', 1)
INSERT [dbo].[LOAIND] ([MALOAIND], [TENLOAI], [TINHTRANG]) VALUES (3, N'Vip', 1)
SET IDENTITY_INSERT [dbo].[LOAIND] OFF
SET IDENTITY_INSERT [dbo].[LOAINV] ON 

INSERT [dbo].[LOAINV] ([MALOAI], [TENLOAI], [TINHTRANG]) VALUES (1, N'Quản lýa', 1)
INSERT [dbo].[LOAINV] ([MALOAI], [TENLOAI], [TINHTRANG]) VALUES (2, N'Lễ tân', 1)
INSERT [dbo].[LOAINV] ([MALOAI], [TENLOAI], [TINHTRANG]) VALUES (3, N'Phục vụ', 1)
SET IDENTITY_INSERT [dbo].[LOAINV] OFF
SET IDENTITY_INSERT [dbo].[LOAIPHONG] ON 

INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [TINHTRANG]) VALUES (1, N'Vip', 1)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [TINHTRANG]) VALUES (2, N'Thường', 1)
SET IDENTITY_INSERT [dbo].[LOAIPHONG] OFF
SET IDENTITY_INSERT [dbo].[LOAITD] ON 

INSERT [dbo].[LOAITD] ([MALOAITD], [TEN], [TINHTRANG]) VALUES (1, N'Thức ăn1', 1)
INSERT [dbo].[LOAITD] ([MALOAITD], [TEN], [TINHTRANG]) VALUES (2, N'Nước uống', 1)
SET IDENTITY_INSERT [dbo].[LOAITD] OFF
INSERT [dbo].[NGUOIDUNG] ([MAND], [MANV], [LOAIND], [TINHTRANG], [TAIKHOAN], [MATKHAU]) VALUES (N'ND01      ', N'NV01      ', 1, 1, N'admin                                                                                               ', N'fcea920f7412b5da7be0cf42b8c93759                                                                    ')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [LOAIPHONG], [GIAPHONG], [TINHTRANG]) VALUES (N'P01       ', N'PHÒNG 001', 2, 50000.0000, 2)
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [LOAIPHONG], [GIAPHONG], [TINHTRANG]) VALUES (N'P02       ', N'PHÒNG 002', 2, 50000.0000, 2)
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [LOAIPHONG], [GIAPHONG], [TINHTRANG]) VALUES (N'P03       ', N'PHÒNG 003', 2, 50000.0000, 2)
INSERT [dbo].[THUCDON] ([MATD], [LOAITD], [TENTHUCDON], [GIA], [TINHTRANG]) VALUES (N'TD01      ', 1, N'Snack Oshi tôm cay', 10000.0000, 1)
INSERT [dbo].[THUCDON] ([MATD], [LOAITD], [TENTHUCDON], [GIA], [TINHTRANG]) VALUES (N'TD02      ', 1, N'Snack Oshi Cà chua', 10000.0000, 1)
INSERT [dbo].[THUCDON] ([MATD], [LOAITD], [TENTHUCDON], [GIA], [TINHTRANG]) VALUES (N'TD03      ', 1, N'Snack Oshi Phô mai', 10000.0000, 1)
SET IDENTITY_INSERT [dbo].[TINHTRANGHD] ON 

INSERT [dbo].[TINHTRANGHD] ([MATTHD], [TENTINHTRANG]) VALUES (1, N'Đã thanh toán')
INSERT [dbo].[TINHTRANGHD] ([MATTHD], [TENTINHTRANG]) VALUES (2, N'Chưa thanh toán')
SET IDENTITY_INSERT [dbo].[TINHTRANGHD] OFF
SET IDENTITY_INSERT [dbo].[TINHTRANGKH] ON 

INSERT [dbo].[TINHTRANGKH] ([MATTKH], [TENTT]) VALUES (1, N'Tồn tại')
INSERT [dbo].[TINHTRANGKH] ([MATTKH], [TENTT]) VALUES (2, N'Không tồn tại')
SET IDENTITY_INSERT [dbo].[TINHTRANGKH] OFF
SET IDENTITY_INSERT [dbo].[TINHTRANGND] ON 

INSERT [dbo].[TINHTRANGND] ([MATT], [TENTINHTRANG]) VALUES (1, N'Tồn tại')
INSERT [dbo].[TINHTRANGND] ([MATT], [TENTINHTRANG]) VALUES (2, N'Không tồn tại')
SET IDENTITY_INSERT [dbo].[TINHTRANGND] OFF
SET IDENTITY_INSERT [dbo].[TINHTRANGNV] ON 

INSERT [dbo].[TINHTRANGNV] ([MATT], [TENTT]) VALUES (1, N'Đang làm')
INSERT [dbo].[TINHTRANGNV] ([MATT], [TENTT]) VALUES (2, N'Tạm nghỉ')
INSERT [dbo].[TINHTRANGNV] ([MATT], [TENTT]) VALUES (3, N'Nghỉ luôn')
SET IDENTITY_INSERT [dbo].[TINHTRANGNV] OFF
SET IDENTITY_INSERT [dbo].[TINHTRANGPHONG] ON 

INSERT [dbo].[TINHTRANGPHONG] ([MATT], [TENTINHTRANG]) VALUES (1, N'Đang sử dụng')
INSERT [dbo].[TINHTRANGPHONG] ([MATT], [TENTINHTRANG]) VALUES (2, N'Trống')
INSERT [dbo].[TINHTRANGPHONG] ([MATT], [TENTINHTRANG]) VALUES (3, N'Đã đặt trước')
SET IDENTITY_INSERT [dbo].[TINHTRANGPHONG] OFF
INSERT [dbo].[TINHTRANGTHUCDON] ([MATT], [TEN]) VALUES (1, N'còn hàng')
INSERT [dbo].[TINHTRANGTHUCDON] ([MATT], [TEN]) VALUES (2, N'Hết hàng')
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MATD])
REFERENCES [dbo].[THUCDON] ([MATD])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[KHACHANG]  WITH CHECK ADD FOREIGN KEY([LOAIKH])
REFERENCES [dbo].[LOAIKH] ([MALOAI])
GO
ALTER TABLE [dbo].[KHACHANG]  WITH CHECK ADD FOREIGN KEY([TINHTRANG])
REFERENCES [dbo].[TINHTRANGKH] ([MATTKH])
GO
ALTER TABLE [dbo].[LICHSUKH]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[LICHSUKH]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHANG] ([MAKH])
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK__NGUOIDUNG__LOAIN__300424B4] FOREIGN KEY([LOAIND])
REFERENCES [dbo].[LOAIND] ([MALOAIND])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK__NGUOIDUNG__LOAIN__300424B4]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK__NGUOIDUNG__MANV__2F10007B] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK__NGUOIDUNG__MANV__2F10007B]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK__NGUOIDUNG__TINHT__30F848ED] FOREIGN KEY([TINHTRANG])
REFERENCES [dbo].[TINHTRANGND] ([MATT])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK__NGUOIDUNG__TINHT__30F848ED]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([LOAINV])
REFERENCES [dbo].[LOAINV] ([MALOAI])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([TINHTRANG])
REFERENCES [dbo].[TINHTRANGNV] ([MATT])
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([LOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([TINHTRANG])
REFERENCES [dbo].[TINHTRANGPHONG] ([MATT])
GO
ALTER TABLE [dbo].[THUCDON]  WITH CHECK ADD FOREIGN KEY([LOAITD])
REFERENCES [dbo].[LOAITD] ([MALOAITD])
GO
ALTER TABLE [dbo].[THUCDON]  WITH CHECK ADD FOREIGN KEY([TINHTRANG])
REFERENCES [dbo].[TINHTRANGTHUCDON] ([MATT])
GO
